
.product_card_parent_grid_detail{
    margin: 6vh;
    .product_card_child_grid_detail{
        text-align:center;
    }
    p{  width:66%;
        text-align: center;
        padding: 20px;
        margin-left: 15%;
    }
    .product_card_child_grid_detail_buttons{
display: flex;
justify-content: center;
         a{  display: inline-block;
        text-decoration: none;
        margin: 5%;
        padding: 20px 20px;
        border-radius: 10px;
        background-color: #DAA520;
        color:white;
    }
    }
   
}
